/**
 * Layout for responsive style through media queries.
 */

@media screen and (max-width: 1500px) {
    .site-logo {
        display: none;
    }
}


/**
 * Navbar
 */
@media screen and (max-width: 1400px) {
    .region-header-col-1,
    .region-header-col-3 {
        #desinax-vgrid.column(3);
    }
    .region-header-col-2 {
        #desinax-vgrid.column(18);
    }
}

@media screen and (max-width: 1150px) {
    .region-header-col-2 {
        font-size: 1em;
    }
}

@media screen and (max-width: 960px) {
    .region-header-col-2 {
        font-size: 0.9em;
    }
}

@media screen and (max-width: 870px) {
    .rm-desktop {
        display: none;
    }
}

/**
 * Footer
 */
@media screen and (max-width: 600px) {
    .footer-column {
        #desinax-vgrid.column(24); // 24 columns
    }
}
